/* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
body{
    width:100%;
    min-height:100vh;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .logo img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    cursor: pointer;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
 ul li{
    padding-bottom: 10px;
}
 ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}
 ul li a:hover{
    color: #007bff;
}

 .cta a{
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
 .cta a:hover{
    background-color: #0056b3;
}
nav .small-screen-menu-icons{
    display:none;
}
nav .small-screen-menu-icons img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    cursor: pointer;
}
.small-screen-menu{
    display:none;
    position: fixed;
    top: 70px;
    left: 0px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 280px;
    z-index: 1000;
    padding: 20px 40px;
    height:100vh;

}
.small-screen-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.small-screen-menu ul a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.small-screen-menu ul a:hover{
    color: #007bff;
}


/* .hero-wrapper{
  position: relative;

} */


/* hero section */
.hero-section{
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: red;
}
.swimVideo{
  width: 100vw !important;
  height: 100%;
  background-color: green;
  object-fit: cover;

}
.swimVideo source{
  width: 100vw !important;
  height: 100%;
  background-color: green;
  object-fit: cover;
}
.cl{
  width: 100px;
  height: 30px;
}
.hero-text{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0), rgba(1, 30, 135, 0.918));
  color: white;
  text-align: center;
}

.hero-text h1{
  font-size: 3rem;
  margin-bottom: 20px;
}
.hero-text a{
  text-decoration: none;
    color:  #f4f4f4;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top:40px;
    transition: background-color 0.3s;
}
.hero-text a:hover{
    background-color: #0056b3;
}

/* highlights section */


.highlights-section{
  position: relative;
  top: -100px;
  z-index: 999;
  height: 20%;
}


.highlights{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 40px;
    width: 80%;
    margin: auto;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.283);
    background-color: #f4f4f4;
    z-index: 999;
    border-radius: 20px;
    
 
    /* flex-wrap: wrap; */
}

.highlight{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: center;
    /* max-width: 250px; */
    flex: 1;
    gap: 20px;
    transition: all 0.3s;
    text-align: left;
    padding: 10px 20px;
    border-radius: 10px;
    cursor:pointer;
    height: 300px;
   
  }

  .highlight:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  .highlight h3{
    font-size: 1.5rem;
    color: #007bff;
    font-weight: 600;
  }
  .highlight img{
    height: 60px;
    width: 60px;
    object-fit: cover;
  }

  .highlight h4{
    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;
  }




/* modal or popup  */

.swimming-popup{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
}
iframe{
    width: 80%;
    height: 70%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.swimming-popup .close-icon{
    position: fixed;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    object-fit: cover;
    cursor: pointer;
   
}

@media screen and  (max-width: 1240px) and (min-width: 901px){
    .highlight{
      height: 460px !important;
      padding: 20px 40px;
    }
    .highlights{
      align-items: start;
    }
    .hero-text h1{
font-size: 0.1 rem;
    }
}
@media screen and (max-width: 1000px) {
   nav .nav-links{
    display:none;
   }
   nav .cta{
    display:none;
   }
    nav .small-screen-menu-icons{
     display:block;
    }
    .small-screen-menu{
        display:flex;
        flex-direction: column;
        gap: 40px;
    }


    .highlights{
        flex-direction: column;
        padding: 20px 10px;
        gap: 20px;
    }

    .highlight{
      height: auto;
      width:100%;
    }
    iframe{
        width: 90%;
        height: 50%;
    }
}
/* become */

.part{
      display: flex;
      justify-self: center;   
      align-items: center;
      gap: 20px;
      width: 82%;
      padding-bottom: 40px;
    }
    .tick{
      width: 15px;
    }
    .man{
      width: 12rem;
      height: 18rem;
      object-fit: cover;
      border-radius: 10px;
    }
    .peeps{
      width: 10rem;
      height: 14rem;
      object-fit: cover;
      border-radius: 10px;
    }
    .part button{
background-color: #007bff;
color: #fff;
height: 40px;
width: 100px;
border-radius: 20px;
border: none;
cursor: pointer;
    }
    .part button:hover{
    background-color: #0056b3;
}
    .part h3{
      font-weight: 600;
    }
    .be{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    @media screen and (max-width: 900px) {
        .part{
            display: block;
        }
        .be{
          padding-top: 20px;
        }
  
    }
    /* slide */

    .sec{
      background-color: #00b7ff1a;
      padding-top: 80px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      padding-bottom: 80px;
      
    }
    .slider-container {
  width: 80%;
  max-width: 1200px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  display: flex;
  border-radius: 10px;
  justify-self: center;
  scroll-behavior: smooth;
  
}

.slider-track {
  display: flex;
  gap: 20px;
  
}

.slide {
  flex: 0 0 calc(100% / 3 - 20px);
  background:  #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: left;
  transition: transform 0.3s ease;
  min-width: calc(100% / 3 - 20px);
  cursor: pointer;
 
}
.slide:hover{
   border: ridge #007bff ;
}

.slide img {
  font-size: 40px;
  color: #007BFF;
  background-color:  #f4f4f4;
  border: outset;
  border-radius: 60px;
  object-fit: cover;
  width: 55px;
  justify-self: center;
  
}

.slide h3 {
  font-size: 17px;
  margin: 10px 0;
  font-weight: 600;
}

.slide p {
  font-size: 14px;
  color: #555;
}
.slider-container::-webkit-scrollbar {
  display: none; 
}
@media screen and (max-width: 900px) {
        .slide{
            display: block;
        }
  
    }
    /* we make */

.rio{
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: large;
}
.ric{
  width: 280px;
  height: 350px;
  border-radius: 10px;
  position: absolute;

}
.w{
  width: 80px;
height: 20px;
}

.we{
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
 text-align: left;
 padding: auto;
 
}
.wh{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ro{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding-left: 20px;

}

.ro h3{
  font-weight: 600;
}

.ro button{
  border: none;
  background: white;
  border-radius: 10px;
  height: 70px;
  width: 100px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.col{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col button{
  width: 110px;
}

.in{
  width: 140px;
  height: 200px;
  border-radius: 10px;
  position: relative;
  top:200px ;
  left: 220px;
  z-index: 999;
  box-shadow:  0 0 10px rgba(0,0,0,0.2);
}

  

.pu{
  object-fit: cover;
  width: 30px;
}
.ri{
  display: flex;
  box-shadow:  0 0 10px rgba(0,0,0,0.2);
  width: 180px;
  height: 80px;
  padding-left: 10px;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  position: relative;
  top: 80px;
  left: 90px;
  background-color: #fff;
  z-index: 9999;

}
.r{
position: relative;
left: 150px;
top: -180px;
  z-index: 9999;
  background-color: #fff;
  width: 180px;
  display: flex;
  gap: 10px;
   height: 60px;
   padding-left: 10px;
   align-items: center;
   border-radius: 10px;
   box-shadow:  0 0 10px rgba(0,0,0,0.2);
}
.pa{
   object-fit: contain;
  width: 30px;
  border-radius: 30px;
  height: 30px;
  background-color: rgb(214, 58, 84);
  align-items: center;
  padding: 8px;
}
@media screen and (max-width: 340px){
  
  

}

@media screen and (max-width: 900px){
        .rio{
            display: flex;
    flex-direction: column;
   
        }
  
 .ti{
  display: block;
  justify-self: center;
  padding-top: 20px;
  align-self: center;
  padding-right: 80px;
  
  
 }
 .r{
  width: 160px;
 }
 .in{
  width: 90px;
 }
  
    }
    @media screen and (max-width: 320px){
.r{
  width: 135px;
}
.in{
  width: 65px;
}
    }
    
    
    /* testimonial section */

.testimonial-section{
  background: #00b7ff1a;
  display: block;
  justify-self: center;
  width: 100%;
  
  
  
}
.testimonials-wrapper{
  display: flex;
  gap: 32px;
flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.testimonial-section h2{
  font-weight: 800;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 80px;
}
.testimonial-section .testimonial-card{
  width: 600px;
 
}

.testimonial-upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 800;
}

.testimonial-card .testimonial-content{
  background-color: white;
  border-radius: 20px;
  padding: 80px 20px;
  margin-top: -30px;
}
.let{
justify-self: center;
}

.testimonial-card .testimonial-upper-left{
  background-color: #007bff;
  color: white;
  padding: 16px 32px;
  border-radius: 10px;
  width: 200px;
}
.testimonial-name{
  text-wrap: nowrap;
}
.testimonial-upper-right{
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 80px;
  box-shadow: 1px 1px 5px grey;
  height: 80px;
}

.testimonial-card .testimonial-user-img{
  border: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.testimonial-nav{
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

  .wavy{
  width: 200px;
  height: 40px;
  
}
.testimonial-button-wrapper{
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height:50px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.testimonial-nav img{
  width: 60%;
  height: 60%;
}

    .highlights{
        display: flex;
        padding: 20px 10px;
        gap: 20px;
    }

    .highlight{
      height: 320px;
      width:100%;
    }
    iframe{
        width: 90%;
        height: 50%;
    }

        @media screen and (max-width: 900px) { 
          .testimonial-section{
            display: block;
          }
          .testimonial-section .testimonial-card{
  width: 80%;
  margin: auto;
 
}
.testimonial-section h2{
  padding-left: 40px;
}
.wavy{
  justify-content: center;
}
        }

        /* news */
      
        .wt{
          width: 90%;
          padding:40px 20px;
                

          display: flex;
          flex-direction: column;
           gap: 10px;
        }
        .wt h3{
          font-weight: 600;
        }
        .wav{
          width: 100px;
          height: 30px;
          
        }
        .mk{
          align-self: center;
          width: 80%;
          
        }
      .pict{
        display: flex;
        justify-self: center;
        justify-content: space-evenly;
        gap: 10px;
        width: 100%;
      
        
       } 
        .pic{
width: 300px;
height: 200px;
border-radius: 20px;
justify-self: center;
        }
        .late{
      
          display: flex;
          flex-direction: row;
      justify-content: space-between;
      align-self: center;
    width: 80%;
    
        }
        .late button{
          background-color: #007BFF;
          border-radius: 20px;
          width: 100px;
          height: 30px;
          border: none;
        }
        .late button:hover{
          opacity: 0.8;
        }
        .wic{
          display: flex;
          flex-direction: column;
          text-align: left;
          width: 303px;
          
          border: none;
          box-shadow: 0 2px 8px rgba(0,0,0,0.1);
          border-radius: 20px;
         
        }
        
        .wic:hover{
          border: ridge #007BFF;
          border-radius: 20px;
        }
        .wic h3{
          font-weight: 600;
          padding: 10px;
        }
        .wic p{
          padding: 10px;
        }
         @media screen and (max-width: 900px) { 
         .pict{
          display: flex;
          flex-direction: column;
        
         }
         .pic{
          width: 250px;
         }
         .wic{
          width: 255px;
          
         }
         
          .late{
            display: flex;
          }
         }

        /* promise */
        .br{
          padding: 30px ;
                      
color: #fff;
        }
        .bg{
          display: flex;
          justify-content: space-between;
          width: 90%;
          justify-self: center;
          padding: 0 20px;
        }
        .u{
          position: relative;
          background-color: #007BFF;
          border-radius: 100% 60% 0 0 / 100% 100% 0 0 ;
          width: 330px;
      top: 50px;
        
          left: 50px;
          height:  200px;
        
        }
        .gp{
         display: flex;
         flex-direction: column;
         gap: 20px;
        }
        
        
        .peep{
          width: 300px;
          
        
        }
        .br h3{
          font-weight: 600;
        }
        .br p{
          font-weight: 300;
        }
       
        .br button{
          border: none;
          background-color: yellow;
          border-radius: 20px;
          width: 200px;
          height: 40px;
          cursor: pointer;
        }
        .br button:hover{
          opacity: 0.7;
        }
.wq{
   width: 100px;
          height: 30px;
}
/* footer */
.foote{
  background-color: #081d35fa;
  width: 100%;
    position: absolute;
    z-index: 9999;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px ;
  color: white;
  width: 90%;
  justify-self: center;

}
.footer img{
  width: 20px;
}

.footer a{
color: white;
text-decoration: none;
font-weight: 300;
}
.footer dd{
  font-weight: 600;
  font-size: 18px;
}
.footer dl{
  font-weight: 300;
  align-items: center;
  display: flex;
  gap: 10px;
}
.me{
  background-color: rgb(4, 4, 34);
}
.me a{
  text-decoration: none;
  color: white;
}
.me img{
  width: 30px;
}
.yu{
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 90%;
  padding-left: 10px;
}

 @media screen and (max-width: 900px) {
  .footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .yu{
    display: block;
  }
  .bg{
    display: block;
  }

 }
  @media screen and (max-width: 500px) {
.peep{
  display: none;
}
.u{
  display: none;
}
  }
